@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-ZL7_jQzlW_DO_font-family: "Inter", sans-serif;
  --mixin-ZL7_jQzlW_DO_font-size: 16px;
  --mixin-ZL7_jQzlW_DO_font-weight: 400;
  --mixin-ZL7_jQzlW_DO_font-style: normal;
  --mixin-ZL7_jQzlW_DO_color: #535353;
  --mixin-ZL7_jQzlW_DO_text-align: left;
  --mixin-ZL7_jQzlW_DO_text-transform: none;
  --mixin-ZL7_jQzlW_DO_line-height: 1.5;
  --mixin-ZL7_jQzlW_DO_letter-spacing: normal;
  --mixin-ZL7_jQzlW_DO_white-space: pre-wrap;
  --mixin-ZL7_jQzlW_DO_user-select: text;
  --mixin-ZL7_jQzlW_DO_text-decoration-line: none;
  --mixin-ZL7_jQzlW_DO_text-overflow: clip;
  --mixin-F7dGSadC3rCs_color: #000000;
  --mixin-F7dGSadC3rCs_font-weight: 700;
  --mixin-F7dGSadC3rCs_font-size: 64px;
  --mixin-F7dGSadC3rCs_line-height: 1;
  --mixin-F7dGSadC3rCs_letter-spacing: -1px;
  --mixin-F7dGSadC3rCs_white-space: pre-wrap;
  --mixin-pLcsBF4KQB1P_color: #000000;
  --mixin-pLcsBF4KQB1P_font-size: 48px;
  --mixin-pLcsBF4KQB1P_font-weight: 700;
  --mixin-pLcsBF4KQB1P_letter-spacing: -0.5px;
  --mixin-pLcsBF4KQB1P_line-height: 1.1;
  --mixin-pLcsBF4KQB1P_white-space: pre-wrap;
  --mixin-eUTCeR8pPvik_color: #0070f3;
  --mixin-eUTCeR8pPvik_white-space: pre-wrap;
  --mixin-Z4Z8sw5HNvnG_color: #000000;
  --mixin-Z4Z8sw5HNvnG_font-size: 32px;
  --mixin-Z4Z8sw5HNvnG_font-weight: 600;
  --mixin-Z4Z8sw5HNvnG_line-height: 1.2;
  --mixin-Z4Z8sw5HNvnG_white-space: pre-wrap;
  --mixin-ygKpyGh0X6xk_color: #000000;
  --mixin-ygKpyGh0X6xk_font-size: 24px;
  --mixin-ygKpyGh0X6xk_font-weight: 600;
  --mixin-ygKpyGh0X6xk_line-height: 1.3;
  --mixin-ygKpyGh0X6xk_white-space: pre-wrap;
  --mixin-hux9ixVys5Tp_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-hux9ixVys5Tp_border-bottom-color: #dddddd;
  --mixin-hux9ixVys5Tp_border-bottom-style: solid;
  --mixin-hux9ixVys5Tp_border-bottom-width: 1px;
  --mixin-hux9ixVys5Tp_border-left-color: #dddddd;
  --mixin-hux9ixVys5Tp_border-left-style: solid;
  --mixin-hux9ixVys5Tp_border-left-width: 1px;
  --mixin-hux9ixVys5Tp_border-right-color: #dddddd;
  --mixin-hux9ixVys5Tp_border-right-style: solid;
  --mixin-hux9ixVys5Tp_border-right-width: 1px;
  --mixin-hux9ixVys5Tp_border-top-color: #dddddd;
  --mixin-hux9ixVys5Tp_border-top-style: solid;
  --mixin-hux9ixVys5Tp_border-top-width: 1px;
  --mixin-hux9ixVys5Tp_border-bottom-left-radius: 3px;
  --mixin-hux9ixVys5Tp_border-bottom-right-radius: 3px;
  --mixin-hux9ixVys5Tp_border-top-left-radius: 3px;
  --mixin-hux9ixVys5Tp_border-top-right-radius: 3px;
  --mixin-hux9ixVys5Tp_font-family: "Inconsolata";
  --mixin-hux9ixVys5Tp_padding-bottom: 1px;
  --mixin-hux9ixVys5Tp_padding-left: 4px;
  --mixin-hux9ixVys5Tp_padding-right: 4px;
  --mixin-hux9ixVys5Tp_padding-top: 1px;
  --mixin-hux9ixVys5Tp_white-space: pre-wrap;
  --mixin-6ESHjfsREJn2_border-left-color: #dddddd;
  --mixin-6ESHjfsREJn2_border-left-style: solid;
  --mixin-6ESHjfsREJn2_border-left-width: 3px;
  --mixin-6ESHjfsREJn2_color: #888888;
  --mixin-6ESHjfsREJn2_padding-left: 10px;
  --mixin-6ESHjfsREJn2_white-space: pre-wrap;
  --mixin-Az2UsJPvgmIc_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Az2UsJPvgmIc_border-bottom-color: #dddddd;
  --mixin-Az2UsJPvgmIc_border-bottom-style: solid;
  --mixin-Az2UsJPvgmIc_border-bottom-width: 1px;
  --mixin-Az2UsJPvgmIc_border-left-color: #dddddd;
  --mixin-Az2UsJPvgmIc_border-left-style: solid;
  --mixin-Az2UsJPvgmIc_border-left-width: 1px;
  --mixin-Az2UsJPvgmIc_border-right-color: #dddddd;
  --mixin-Az2UsJPvgmIc_border-right-style: solid;
  --mixin-Az2UsJPvgmIc_border-right-width: 1px;
  --mixin-Az2UsJPvgmIc_border-top-color: #dddddd;
  --mixin-Az2UsJPvgmIc_border-top-style: solid;
  --mixin-Az2UsJPvgmIc_border-top-width: 1px;
  --mixin-Az2UsJPvgmIc_border-bottom-left-radius: 3px;
  --mixin-Az2UsJPvgmIc_border-bottom-right-radius: 3px;
  --mixin-Az2UsJPvgmIc_border-top-left-radius: 3px;
  --mixin-Az2UsJPvgmIc_border-top-right-radius: 3px;
  --mixin-Az2UsJPvgmIc_font-family: "Inconsolata";
  --mixin-Az2UsJPvgmIc_padding-bottom: 3px;
  --mixin-Az2UsJPvgmIc_padding-left: 6px;
  --mixin-Az2UsJPvgmIc_padding-right: 6px;
  --mixin-Az2UsJPvgmIc_padding-top: 3px;
  --mixin-Az2UsJPvgmIc_white-space: pre-wrap;
  --mixin-F_NjcZ7CmTZC_display: flex;
  --mixin-F_NjcZ7CmTZC_flex-direction: column;
  --mixin-F_NjcZ7CmTZC_align-items: stretch;
  --mixin-F_NjcZ7CmTZC_justify-content: flex-start;
  --mixin-F_NjcZ7CmTZC_list-style-position: outside;
  --mixin-F_NjcZ7CmTZC_padding-left: 40px;
  --mixin-F_NjcZ7CmTZC_position: relative;
  --mixin-F_NjcZ7CmTZC_list-style-type: disc;
  --mixin-F_NjcZ7CmTZC_white-space: pre-wrap;
  --mixin-UoLSR8TuG3PE_display: flex;
  --mixin-UoLSR8TuG3PE_flex-direction: column;
  --mixin-UoLSR8TuG3PE_align-items: stretch;
  --mixin-UoLSR8TuG3PE_justify-content: flex-start;
  --mixin-UoLSR8TuG3PE_list-style-position: outside;
  --mixin-UoLSR8TuG3PE_padding-left: 40px;
  --mixin-UoLSR8TuG3PE_position: relative;
  --mixin-UoLSR8TuG3PE_list-style-type: decimal;
  --mixin-UoLSR8TuG3PE_white-space: pre-wrap;
  --mixin-iNx8eV2ISkNZ_color: #000000;
  --mixin-iNx8eV2ISkNZ_font-size: 20px;
  --mixin-iNx8eV2ISkNZ_font-weight: 600;
  --mixin-iNx8eV2ISkNZ_line-height: 1.5;
  --mixin-iNx8eV2ISkNZ_white-space: pre-wrap;
  --mixin-A7hLYIIaZfVD_color: #000000;
  --mixin-A7hLYIIaZfVD_font-size: 16px;
  --mixin-A7hLYIIaZfVD_font-weight: 600;
  --mixin-A7hLYIIaZfVD_line-height: 1.5;
  --mixin-A7hLYIIaZfVD_white-space: pre-wrap;
  --mixin-MSqmzFiMsH6W_color: #3291ff;
  --mixin-MSqmzFiMsH6W_white-space: pre-wrap;
  --mixin-_sad8uQFAHUV_white-space: pre-wrap;
  --mixin-dlcZpkz3mQ3-_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-ZL7_jQzlW_DO_font-family);
  font-size: var(--mixin-ZL7_jQzlW_DO_font-size);
  font-weight: var(--mixin-ZL7_jQzlW_DO_font-weight);
  font-style: var(--mixin-ZL7_jQzlW_DO_font-style);
  color: var(--mixin-ZL7_jQzlW_DO_color);
  text-align: var(--mixin-ZL7_jQzlW_DO_text-align);
  text-transform: var(--mixin-ZL7_jQzlW_DO_text-transform);
  line-height: var(--mixin-ZL7_jQzlW_DO_line-height);
  letter-spacing: var(--mixin-ZL7_jQzlW_DO_letter-spacing);
  white-space: var(--mixin-ZL7_jQzlW_DO_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-F7dGSadC3rCs_color);
  font-weight: var(--mixin-F7dGSadC3rCs_font-weight);
  font-size: var(--mixin-F7dGSadC3rCs_font-size);
  line-height: var(--mixin-F7dGSadC3rCs_line-height);
  letter-spacing: var(--mixin-F7dGSadC3rCs_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-pLcsBF4KQB1P_color);
  font-size: var(--mixin-pLcsBF4KQB1P_font-size);
  font-weight: var(--mixin-pLcsBF4KQB1P_font-weight);
  letter-spacing: var(--mixin-pLcsBF4KQB1P_letter-spacing);
  line-height: var(--mixin-pLcsBF4KQB1P_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-eUTCeR8pPvik_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Z4Z8sw5HNvnG_color);
  font-size: var(--mixin-Z4Z8sw5HNvnG_font-size);
  font-weight: var(--mixin-Z4Z8sw5HNvnG_font-weight);
  line-height: var(--mixin-Z4Z8sw5HNvnG_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-ygKpyGh0X6xk_color);
  font-size: var(--mixin-ygKpyGh0X6xk_font-size);
  font-weight: var(--mixin-ygKpyGh0X6xk_font-weight);
  line-height: var(--mixin-ygKpyGh0X6xk_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-hux9ixVys5Tp_font-family);
  border-radius: var(--mixin-hux9ixVys5Tp_border-top-left-radius)
    var(--mixin-hux9ixVys5Tp_border-top-right-radius)
    var(--mixin-hux9ixVys5Tp_border-bottom-right-radius)
    var(--mixin-hux9ixVys5Tp_border-bottom-left-radius);
  padding: var(--mixin-hux9ixVys5Tp_padding-top)
    var(--mixin-hux9ixVys5Tp_padding-right)
    var(--mixin-hux9ixVys5Tp_padding-bottom)
    var(--mixin-hux9ixVys5Tp_padding-left);
  border-top: var(--mixin-hux9ixVys5Tp_border-top-width)
    var(--mixin-hux9ixVys5Tp_border-top-style)
    var(--mixin-hux9ixVys5Tp_border-top-color);
  border-right: var(--mixin-hux9ixVys5Tp_border-right-width)
    var(--mixin-hux9ixVys5Tp_border-right-style)
    var(--mixin-hux9ixVys5Tp_border-right-color);
  border-bottom: var(--mixin-hux9ixVys5Tp_border-bottom-width)
    var(--mixin-hux9ixVys5Tp_border-bottom-style)
    var(--mixin-hux9ixVys5Tp_border-bottom-color);
  border-left: var(--mixin-hux9ixVys5Tp_border-left-width)
    var(--mixin-hux9ixVys5Tp_border-left-style)
    var(--mixin-hux9ixVys5Tp_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-6ESHjfsREJn2_color);
  padding-left: var(--mixin-6ESHjfsREJn2_padding-left);
  border-left: var(--mixin-6ESHjfsREJn2_border-left-width)
    var(--mixin-6ESHjfsREJn2_border-left-style)
    var(--mixin-6ESHjfsREJn2_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Az2UsJPvgmIc_font-family);
  border-radius: var(--mixin-Az2UsJPvgmIc_border-top-left-radius)
    var(--mixin-Az2UsJPvgmIc_border-top-right-radius)
    var(--mixin-Az2UsJPvgmIc_border-bottom-right-radius)
    var(--mixin-Az2UsJPvgmIc_border-bottom-left-radius);
  padding: var(--mixin-Az2UsJPvgmIc_padding-top)
    var(--mixin-Az2UsJPvgmIc_padding-right)
    var(--mixin-Az2UsJPvgmIc_padding-bottom)
    var(--mixin-Az2UsJPvgmIc_padding-left);
  border-top: var(--mixin-Az2UsJPvgmIc_border-top-width)
    var(--mixin-Az2UsJPvgmIc_border-top-style)
    var(--mixin-Az2UsJPvgmIc_border-top-color);
  border-right: var(--mixin-Az2UsJPvgmIc_border-right-width)
    var(--mixin-Az2UsJPvgmIc_border-right-style)
    var(--mixin-Az2UsJPvgmIc_border-right-color);
  border-bottom: var(--mixin-Az2UsJPvgmIc_border-bottom-width)
    var(--mixin-Az2UsJPvgmIc_border-bottom-style)
    var(--mixin-Az2UsJPvgmIc_border-bottom-color);
  border-left: var(--mixin-Az2UsJPvgmIc_border-left-width)
    var(--mixin-Az2UsJPvgmIc_border-left-style)
    var(--mixin-Az2UsJPvgmIc_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-F_NjcZ7CmTZC_display);
  flex-direction: var(--mixin-F_NjcZ7CmTZC_flex-direction);
  align-items: var(--mixin-F_NjcZ7CmTZC_align-items);
  justify-content: var(--mixin-F_NjcZ7CmTZC_justify-content);
  list-style-position: var(--mixin-F_NjcZ7CmTZC_list-style-position);
  padding-left: var(--mixin-F_NjcZ7CmTZC_padding-left);
  position: var(--mixin-F_NjcZ7CmTZC_position);
  list-style-type: var(--mixin-F_NjcZ7CmTZC_list-style-type);
  flex-column-gap: var(--mixin-F_NjcZ7CmTZC_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-UoLSR8TuG3PE_display);
  flex-direction: var(--mixin-UoLSR8TuG3PE_flex-direction);
  align-items: var(--mixin-UoLSR8TuG3PE_align-items);
  justify-content: var(--mixin-UoLSR8TuG3PE_justify-content);
  list-style-position: var(--mixin-UoLSR8TuG3PE_list-style-position);
  padding-left: var(--mixin-UoLSR8TuG3PE_padding-left);
  position: var(--mixin-UoLSR8TuG3PE_position);
  list-style-type: var(--mixin-UoLSR8TuG3PE_list-style-type);
  flex-column-gap: var(--mixin-UoLSR8TuG3PE_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-iNx8eV2ISkNZ_color);
  font-size: var(--mixin-iNx8eV2ISkNZ_font-size);
  font-weight: var(--mixin-iNx8eV2ISkNZ_font-weight);
  line-height: var(--mixin-iNx8eV2ISkNZ_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-A7hLYIIaZfVD_color);
  font-size: var(--mixin-A7hLYIIaZfVD_font-size);
  font-weight: var(--mixin-A7hLYIIaZfVD_font-weight);
  line-height: var(--mixin-A7hLYIIaZfVD_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-MSqmzFiMsH6W_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
